* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.nav-container {
  width: 100%;
  background-color: white;
  display: flex;
  box-shadow: 0 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.2);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-logo {
  height: 64px;
  margin-left: 60px;
  align-self: center;
}

.nav-menu {
  height: 5rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

li {
  display: inline;
  justify-content: space-between;
  align-items: baseline;
  row-gap: 50px;
  padding: 15px;
}

li a {
  justify-content: space-between;
}

.nav-search {
  align-items: center;
  padding-left: 120px;
  padding-top: 20px;
}

input {
  height: 38px;
  width: 538px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.banner {
  max-width: 500px;
  max-height: fit-content;
  top: 45px;
}

.slideshow-container {
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
  margin: auto;
  overflow: hidden;
  top: 45px;
}

.slides {
  width: max-content;
  height: max-content;
  display: flex;
}

.slide1 {
  width: 1600px;
}

.slide2 {
  width: 1600px;
}

.slide3 {
  width: 1600px;
}

.slide4 {
  width: 1600px;
}

.slide5 {
  width: 1600px;
}
