* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.nav-container {
  width: 100%;
  background-color: aliceblue;
  display: flex;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-logo {
  height: 64px;
  margin-left: 60px;
  align-self: center;
}

.nav-menu {
  height: 5rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

li {
  display: inline;
  justify-content: space-between;
  align-items: baseline;
  row-gap: 50px;
  padding: 15px;
}

li a {
  justify-content: space-between;
}
